{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'liquidacion/admin/detalle_liquidacion.css' %}">
{% endblock %}

{% block after_field_sets %}
    {{ block.super }}

    {% if liquidacion_empleado %}
        <button
            type="button"
            class="button"
            id="abrir-ayuda"
        >
            Ayuda
        </button>

        <div class="module">
            <h2>Aplicar plantilla de liquidación</h2>

            <div style="display: flex; gap: 8px; align-items: center;">
                <select id="plantilla-select">
                    <option value="">---------</option>

                    {% for plantilla in plantillas %}
                        <option value="{{ plantilla.pk }}">
                            {{ plantilla.denominacion }}
                        </option>
                    {% endfor %}
                </select>

                <button
                    type="button"
                    id="aplicar-plantilla"
                    class="button"
                    data-url-template="{% url 'admin:liquidacion_plantilla_detalles' 0 %}"
                >
                    Aplicar
                </button>
            </div>
        </div>

        <dialog  id="modal-ayuda-liquidacion">
            <h2>Ayuda para liquidar el empleado</h2>

            <h3>Plantilla</h3>

            <p>
                Aplicar una plantilla agrega los conceptos configurados en ella.
                Los detalles agregados pueden modificarse.
            </p>

            <h3>Fórmula</h3>
            <p>
                La fórmula puede utilizar números, operadores y referencias a otros conceptos de la liquidación.
            </p>

            <p>Se pueden expresar en múltiples líneas.</p>

            <p>
                Para los numeros con decimales se debe utilizar un punto (ej: 10.23), no se aceptan comas.
            </p>

            <p>Operadores disponibles:</p>

            <ul>
                <li><code>+</code> suma</li>
                <li><code>-</code> resta</li>
                <li><code>*</code> multiplicación</li>
                <li><code>/</code> división</li>
                <li><code>**</code> potencia</li>
                <li><code>**</code> paréntesis</li>
            </ul>

            <h3>Referenciar otro concepto</h3>

            <p>
                Cada detalle tiene un identificador visible en el encabezado de su fila.
                Ese identificador puede utilizarse dentro de una expresión.
            </p>

            <p>Al momento de calcular, se utilizara el valor de "Importe" de los detalles referenciados.</p>

            <p>
                Por ejemplo, si existe el concepto <code>sueldo_basico_17</code>:
            </p>

            <pre><code>sueldo_basico_17 * 0.11</code></pre>

            <h3>Cálculos</h3>

            <p><strong>Base</strong>: se calcula a partir de la fórmula base</p>

            <p><strong>Importe</strong>: se calcula como <code>importe = base * unidades</code></p>

            <h3>Guardar y Calcular</h3>

            <p>
                <strong>Guardar</strong> guarda los datos ingresados como borrador, sin resolver ni validar ningun cálculo.
            </p>

            <p>
                <strong>Calcular</strong> valida las referencias, calcula todos los detalles respetando sus
                dependencias y actualiza la vista para mostrar los resultados.
                Si no hubo errores, los cambios habrán quedado guardados
            </p>

            <button type="button" id="cerrar-ayuda">
                Cerrar
            </button>
        </dialog>
    {% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <input
            type="submit"
            value="Guardar"
            class="default"
            name="_continue"
        >

        {% if liquidacion_empleado %}
        <input
            type="submit"
            value="Calcular"
            class="calcular-button"
            name="_calcular"
        >
        {% endif %}

        {% if change and has_delete_permission and not is_popup %}
            {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
            <a href="{% add_preserved_filters delete_url %}" class="deletelink">
                Eliminar
            </a>
        {% endif %}
    </div>
{% endblock %}
